@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: 'Inter', sans-serif;
  padding: 0px;
}

header {
  width: 100vw;
  height: 66px;
  background-color: #CC5546;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}

header button.new-task {
  background-color: #CC5546;
  color: #FFF;
  padding: 12px 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-style: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

header button.new-task img {
  width: 20px;
}

header button.new-task:hover {
  background-color: #cc6d61;
}

.content {
  min-height: calc(100vh - 66px);
  display: grid;
  grid-template-columns: 465px 1fr;
  grid-template-rows: auto;
}

.side-bar {
  height: 100%;
  background-color: #F5F5F5;
  padding: 50px 23px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.side-bar button {
  height: 58px;
  display: grid;
  grid-template-columns: 78px 1fr;
  align-items: center;
  border-radius: 10px;
  background-color: #F5F5F5;
  cursor: pointer;
  border-style: none;
}

.side-bar button:hover {
  background-color: #ECECEC;
}

.side-bar button img {
  justify-self: center;
}

.side-bar p {
  justify-self: start;
  font-size: 24px;
  font-weight: 400;
  ;
  color: #2B2B2B;
}

.side-bar h4 {
  margin-top: 50px;
  margin-bottom: 10px;
  color: #2B2B2B;
  font-size: 24px;
  font-weight: 700;
}

.side-bar button.add-project {
  margin-top: auto;
}

.side-bar .add-project p {
  color: #7E7E7E;
}

.projects-container {
  display: flex;
  flex-direction: column;
}

div.project-add-prompt {
  margin-top: auto;
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: auto 50px;
  align-items: center;
  row-gap: 5px;
  column-gap: 15px;
  padding: 20px 0px;
}

.project-add-prompt form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: #2B2B2B;
}

.project-add-prompt input {
  border: none;
  border-radius: 15px;
  ;
  height: 45px;
  width: 100%;
  font-size: 28px;
  color: #2B2B2B;
  padding: 0px 15px;
  border: solid 2px #ECECEC;
}

.project-add-prompt input:focus {
  outline: none;
  color: #2B2B2B;
  border: solid 2px #ECECEC;
}

.project-add-prompt button {
  height: 45px;
  margin-top: auto;
  color: #7E7E7E;
  font-size: 35px;
}

.project-add-prompt .icon-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  grid-column: 1 / -1;
}

.project-add-prompt .icon-container button {
  width: 40px;
  display: flex;
  justify-content: center;
}

.project-add-prompt .icon-container button.active {
  background-color: #c3c3c3;
}


button.active {
  background-color: #ECECEC;
}

/* New task form */

div.dark-screen {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

form.task-form {
  background-color: #FFF;
  height: 700px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

/* Project tasks view */

.display-project-container {
  width: 100%;
  height: 100%;
  padding: 60px 133px;
  color: #2B2B2B;
}

.workspace .project-name {
  margin-bottom: 60px;
}

.workspace .tasks-container {
  display: flex;
  flex-direction: column;
  ;
}

.tasks-container button {
  display: grid;
  grid-template-columns: 30px 1fr 60px;
  grid-template-rows: 1fr 35px;
  column-gap: 18px;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #FFF;
  border: none;
}

.tasks-container button:hover {
  background-color: #F5F5F5;
}

.tasks-container button.task {
  min-height: 80px;
}

.tasks-container button.view-button {
  background-color: inherit;
  align-self: center;
  justify-self: center;
  height: 35px;
  width: 100%;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  cursor: pointer;
  border: none;
}

.tasks-container button.view-button:hover {
  background-color: #eaeaea;
}

.tasks-container button.view-button img {
  width: 20px;
}

.tasks-container .task-date {
  grid-column: 2 / 3;
  font-size: 16px;
}

.tasks-container .task-title {
  font-size: 24px;
  min-width: 200px;
  text-align: start;
}


.tasks-container button .task-title,
.tasks-container button .task-date {
  justify-self: start;
}

.tasks-container .task-priority {
  padding: 3px;
  color: white;
  border-radius: 3px;
}

.tasks-container .task-priority.high {
  background-color: #CC5546;
}

.tasks-container .task-priority.medium {
  background-color: #6477c4;
}

.tasks-container .task-priority.low {
  background-color: #4e915c;
}

.tasks-container button.add-task-button{
  height: 60px;
  cursor: pointer;
  display: flex;
  align-content: center;
  justify-content: start;
}

.tasks-container button.add-task-button p{
  font-size: 24px;
  text-align: start;
}